<h3 align="center">Task List App</h3>
<h4 style="text-align: center">(Angular-FlaskAPI-SQLite-API Architecture)</h4>

<br/>
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th style="text-align: center">ID</th>
      <th style="text-align: center">Title</th>
      <th style="text-align: center">Content</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.task_id }}</td>
      <td>{{ task.title }}</td>
      <td>{{ task.content }}</td>
      <td>
        <a routerLink="/detail/{{ task.task_id }}">Detail</a> 
        &nbsp;
        <a routerLink="/edit/{{ task.task_id }}">Edit</a>
        &nbsp;
        <button title="delete task" (click)="delete(task)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<br/>
<div>
  <a routerLink="/add"> Add New Task </a>
</div>

