<div>
    <h2 class="text-center pt-2">Add Task Detail</h2>
    <hr/>
    <div class="ml-2">
      <p>
          <label >Title:
              <input class="ml-5" [(ngModel)]="task.title" placeholder="Task Title"/>
          </label>
      </p>
      <p>
          <label>Content:
              <input class="ml-4" [(ngModel)]="task.content" placeholder="Task Content"/>
          </label>
      </p>
    </div>
    <hr/>
    <button class="go-back ml-2 btn btn-secondary ml-3" (click)="goBack()">go back</button>
     &nbsp;
    <button class="save ml-2 btn btn-primary ml-3" (click)="save()">save</button>
  </div>